<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<title>Agendar Cita</title>

<link rel="stylesheet" href="/css/sidebar.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/forms.css">
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<script src="https://kit.fontawesome.com/79b2fa2c25.js" crossorigin="anonymous"></script>
<link rel="icon" type="image/jpg" href="/images/olim.jpeg"></link>


</head>
<body>


	<div class="sidebar">
		<div class="logo-details">
			<div class="logo_name">
				<span class="tab-text">Olimac Services</span>
			</div>
			<i class='bx bx-menu' id="btn"></i>
		</div>
		<ul class="nav-list">
			<li><i class='bx bx-search'></i> <input type="text"
				placeholder="Search..."> <span class="tooltip">Search</span>
			</li>



			<li><a th:href="@{/agregarCliente}" href="#"> <i class='bx bx-user-plus'></i>
			 <span class="links_name">Agregar Cliente</span>
			</a> <span class="tooltip">Agregar Cliente</span></li>


			<li><a th:href="@{/listar}" href="#"> <i class='bx bx-list-check' ></i>
					<span class="links_name">Lista de Clientes</span>
			</a> <span class="tooltip">Lista de Clientes</span></li>




			<li><a th:href="@{/agregarCita}" href="#"> <i class='bx bx-user-plus'></i>
			<span class="links_name">Agregar Citas</span>
			</a> <span class="tooltip">Agregar Citas</span></li>


			<li><a th:href="@{/listaCitas}" href="#"><i class='bx bx-list-check' ></i>
			 <span class="links_name">Lista de
						Citas</span>
			</a> <span class="tooltip">Lista de Citas</span></li>
			
			  <li><a th:href="@{/listaCitas2}" href="#"> <i class='bx bx-edit-alt'></i> <span class="links_name">Editar
						Citas</span>
			</a> <span class="tooltip">Editar Citas</span></li>


			<li class="profile">
				<div class="profile-details">
					<img src="/images/userxd.jpg" alt="profileImg">
					<div class="name_job">
						<div class="name">Adminstrador</div>
						<div class="job">Walther Olivo</div>
					</div>
				</div> <a class="icono-log" th:href="@{/}"><i class='bx bx-log-out'
					id="log_out"></i></a>


			</li>


		</ul>
	</div>

	<script src="/js/script.js"></script>


	<section class="home-section">


		<div class="container-reg">
		
			<form th:action="@{/saveCita}" th:object="${cita}" method="POST">
			
				<div class="form">

					<h4>Formulario de registro de una nuevo Cita</h4>


					<input required="required" class="controls" type="text" th:field="*{observacion}" placeholder="Observacion de la cita"><br>
					 
					<label>Fecha de la Cita</label>
					
					<input required="required" class="controls" type="date" th:field="*{fechaCita}"><br>
					
					<label>Fecha de aviso</label>
					
					<input required="required" class="controls" type="date" th:field="*{fechaAviso}"><br>

					<input list="data-list" required="required" class="controls" type="text" th:field="*{idCliente}" placeholder="Id del Paciente"><br> 
				
				
				    
					<datalist id="data-list">
				
				    <option th:each="cliente:${listaclientes}" th:value="${cliente.idCliente}" th:text="${cliente.toString()}">
				
				
				   </option>
				   
				   </datalist>
					
					<input class="botons" type="submit" value="ok">

				</div>

			</form>
		</div>

	</section>

</body>
</html>